.post-excerpt {
	overflow: hidden;
	box-shadow: 0px 2px 3px #bbb;
	padding: 1.0rem;
	min-height: 400px;
	margin-bottom: 1.0rem;
}

.post-excerpt img {
	max-width: 100%;
	height: auto;
}

.post-vignette {
	background-color: #fefefe;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.post-excerptContent a {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.post-excerptContent a:after {
	content: '\A';
	white-space: pre;
}

.post-backbutton {
	margin: 1.0rem;
}

.ajax-loader {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}