
<div class="wrapper">
    
    <nav class="section group">
        <div class="col span_4_of_4 textAlignCenter">
            <button class="prevPage">Previous Page</button>
            <span><%= currentPage %> of <%= maxIndex %></span>
            <button class="nextPage">Next Page</button>
        </div>
    </nav>
    
    <section class="posts-section">
    </section>

    <nav class="group">
        <div class="col span_4_of_4 textAlignCenter">
            <button class="prevPage">Previous Page</button>
            <span><%= currentPage %> of <%= maxIndex %></span>
            <button class="nextPage">Next Page</button>
        </div>
    </nav>

</div>
