
<div class="wrapper">
    
    <nav class="section group">
        <div class="col span_4_of_4 textAlignCenter">
            <button class="prevPage">Previous Page</button>
            <span><%= currentPage %> of <%= maxIndex %></span>
            <button class="nextPage">Next Page</button>
        </div>
    </nav>
    
    <section class="section posts-section group">
	    <div class="col span_1_of_4">
	    </div>
	    <div class="col span_1_of_4">
	    </div>
	    <div class="col span_1_of_4">
	    </div>
	    <div class="col span_1_of_4">
	    </div>
    </section>

    <nav class="section group">
        <div class="col span_4_of_4 textAlignCenter">
            <button class="prevPage">Previous Page</button>
            <span><%= currentPage %> of <%= maxIndex %></span>
            <button class="nextPage">Next Page</button>
        </div>
    </nav>

</div>
