<div class="wrapper">

    <div class="section group">
        <div class="col span_4_of_4 textAlignCenter">
            <button class="prevPage">Previous Page</button>
            <button class="nextPage">Next Page</button>
        </div>
    </div>
    
    <section class="section posts-section group">
	    <div class="col span_1_of_4">
	    </div>
	    <div class="col span_1_of_4">
	    </div>
	    <div class="col span_1_of_4">
	    </div>
	    <div class="col span_1_of_4">
	    </div>
    </section>

    <div class="section group">
        <div class="col span_4_of_4 textAlignCenter">
            <button class="prevPage">Previous Page</button>
            <button class="nextPage">Next Page</button>
        </div>
    </div>

</div>
